@font-face {
    font-family: 'HK Grotesk Bold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Bold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-SemiBold.woff) format('woff');
}

#main-nav {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 88.7%;
    height: 65px;
    align-items: center;
    padding-top: 0.5vh;
    position: fixed;
    z-index: 1;
}

nav:hover {
    transition: all 0.25s ease-in-out;
}

#me-sml {
    width: 64px;
    height: 64px;
    transition: all .01s ease-in;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
}

#me-sml:hover {
    width: 62px;
    filter: drop-shadow(0 2mm 2mm #b4a39786);
    background-color: rgba(255, 94, 0, 0.2);
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);

    transition: all 0.4s ease-out;
}

.nav-pages {
    display: flex;
    justify-content: space-between;
}

.nav-places {
    text-decoration: none;
    color: #736bbb;
    font-size: 18px;
    font-family: 'HK Grotesk SemiBold';
    margin: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 70px;
    background-color: #e8d7eb;
}

.nav-places:hover {
    color: #D49B9B;
    background-color: white;
}

@media only screen and (max-width: 500px) {
    .nav-places {
        padding-right: 4%;
    }
}


