#main-nav {
    margin-top: 2vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    margin-bottom: 12vh;
}

#hamburger-nav {
    display: none;
}

#nav-contents {
    display: flex;
    justify-content: space-between;
}

.nav-pages {
    display: flex;
    justify-content:right;
    width: 75%;
    align-items: center;
}

#nav-places {
    text-decoration: none;
    padding-left: 5%;
}

#nav-places:hover {
    text-decoration:underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.nav-logo {
    height: 8vh;
}

/* media query small */

@media only screen and (max-width: 480px) {
    .nav-logo {
        width: 75%;
    }

    #main-nav {
        margin-bottom: calc(12vh / 3 * 2);
    }

    #nav-contents {
        display: none;
    }

    #hamburger-nav {
        display: block;
        float: right;
        margin-top: 3%;
    }

    #hamburger {
        fill: #5C5347;
    }

    #hamburger-nav.clicked {

      }
}