#about-page {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(65px + 8vh);
    background-color: #E6C5C5;
}

.about-text {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80vw;
    filter: drop-shadow(0 2mm 2mm #97aab457);
}

.link {
    color: #0896A1;
    text-decoration: none;
    font-family: 'HK Grotesk SemiBold', sans-serif;
}

.link:hover {
    color: #9F2042;
}