@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-SemiBold.woff) format('woff');
}

#about-page {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(65px + 8vh);
}

/* .about-text {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80vw;
    filter: drop-shadow(0 2mm 2mm #97aab457);
} */

/* .about-para {
    color: #d2d2d2;
} */

.link {
    color: #ffd6e9;
    text-decoration: none;
    font-family: 'HK Grotesk SemiBold', sans-serif;
}

.link:hover {
    background-color: #ffd6e9;
    color: #388888;
}

.info-bullets {
    display: flex;
    width:100%;
    justify-content: space-between;

}

.info-bullet-group{
    width: 30%;
}

.xp{
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 600;
    font-size: 16px;  
    margin-bottom: 2%;
}

.xp-para {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 600;
    font-size: 14px;  
    margin-top: 0;
    margin-bottom: 5%;
}

.xp-para-edu {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 600;
    font-size: 14px;  
    margin-top: 0;
    margin-bottom: 0%;
}

.edu-para {
    margin-bottom: 10%;
}

.pepeha {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.pepeha-line {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'HK Grotesk SemiBold', sans-serif;
    font-size: 18px;  
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3b3b3b;

}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: calc(65px + 8vh);
    filter: drop-shadow(0 5mm 5mm #a1a1a148);
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
}