/* IMAGES & VIDEO */

#df-hero {
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    border-bottom: 1px solid rgba(255, 166, 0, 0.233);
    filter: drop-shadow(0 2mm 2mm rgba(170, 206, 190, 0.575));
}

.df-video-section {
    /* background-color: #b7f1e470; */
    width: 100%;
    border-radius: 10px;
}
