.contact-form {
    display: flex;
    flex-direction: column;
    width: calc(100vw / 3);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 60px;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 10px;
}

input {
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1.5px solid #382f2f74;
}

label {
    display: flex;
    flex-direction: column;
}

.fields {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    margin-bottom: 40px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid #382f2f74;
    height: 300px;
}

.contact.form-box {
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #5C5347;
}

.button-wide {
    margin-bottom: 20%;
    display: block;
    float: right;
    text-decoration: none;
    width: calc(100%/ 2);
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 10%;
    padding-right: 10%;
    border: 1.5px solid #382F2F;
    border-radius: 45px;
    box-shadow: 2px 2px 4px #5c534766;
    background-color: #F2EFEB;
    text-align: center;
}

#email-wave {
    width: 100%;
    rotate: 180deg;
    position: fixed;
    left: 0;
    bottom: 0;
}

#email-wave .shape-fill {
    fill: #5C5347;
}

/* media queries */

@media only screen and (max-width: 480px) {
    .contact-form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

}