.contact-form {
    display: flex;
    flex-direction: column;
    width: calc(100vw / 3);
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 60px;
    background-color: rgba(255, 255, 255, 0.53);
    border-radius: 10px;
    margin-left: 5%;
}

#contact-cta {
    color: #382F2F;
    font-size: 2.25rem;
    margin-right: 20%;
}

#success-msg {
    color: #382F2F;
    font-size: 2.25rem;
}

input {
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1.5px solid #382f2f74;
}

label {
    display: flex;
    flex-direction: column;
}

.fields {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

textarea {
    margin-bottom: 40px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid #382f2f74;
    height: 300px;
}

.contact-heading {
    font-weight: 800;
    margin-bottom: 5%;
    color: #5C5347;
}

.button-wide {
    margin-bottom: 20%;
    display: block;
    float: right;
    text-decoration: none;
    width: calc(100%/ 3);
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10%;
    padding-right: 10%;
    border: 1.5px solid #382F2F;
    border-radius: 45px;
    box-shadow: 2px 2px 4px #5c534766;
    background-color: #F2EFEB;
    text-align: center;
}

#email-wave {
    width: 100%;
    rotate: 180deg;
    position: fixed;
    left: 0;
    bottom: 0;
}

#email-wave .shape-fill {
    fill: #5C5347;
}

#returntowork {
    margin-top: 7.5%;
}

/* media queries */

@media only screen and (max-width: 480px) {
    .contact-form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    #success-msg {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #returntowork {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 15%;
    }

    .large-link.c-success {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

/* media queries xl */
@media only screen and (min-width: 3500px) {
    h2.contact-heading {
        font-size: 3rem;
        font-weight: 800;
    }

    label {
        row-gap: 10px;
    }

    input {
        margin-bottom: 65px;
    }

    textarea {
        margin-bottom: 65px;
    }

    .button-wide {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 2.25rem;
    }
}