.intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
}

#intro-text-container {
    width: 66%;
    height: 30%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    bottom: 50%;
}

.large-link:hover {
    text-decoration:underline;
    text-decoration-style: wavy;
    transition: all .2s ease-in-out;
}

.wavefooter {
    width: 100%;
    rotate: 180deg;
    position: absolute;
    left: 0;
    bottom: 0;
}

#home-fixed {
    position: fixed;
}

/* media queries */

