.intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#intro-text-container {
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    bottom: 40%;
}

.intro-text {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 100,
      "WONK" 0.5;
    color: #5C5347;
    font-size: 72px;
}

#home-cta {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #382F2F;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.wavefooter {
    width: 100%;
    rotate: 180deg;
    position: absolute;
    left: 0;
    bottom: 0;
}

#home-fixed {
    position: fixed;
}

.homepage {
    /* background-color: #f2f2f2; */
    /* padding: 4.5%; */
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 80vw; */
    /* filter: drop-shadow(0 2mm 2mm #97aab457); */
}

@media only screen and (max-width: 650px) {
    /* .intro {
        width: 300px;
        margin-bottom: calc(65px + 1vh);
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .intro-text {
        width: 280px;
        text-align: center;
    }
    

    .homeh1 {
        font-size: 42px;
    }

    .homeh2 {
        font-size: 18px;
    }

    .homeh3 {
        font-size: 16px;
        max-width: 280px;
    } */
}
