@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Bold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Regular.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk Black';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Black.woff) format('woff');
}

.navItem {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin-right: 10%;
    margin-bottom: 2%;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
}

.header {
    background-color: #FFBE00;
    max-width: 20vw;
    padding-top: 1%;
    padding-bottom: 2.5%;
    padding-left: 2%;
}

.nameText {
    margin-left: 5%;
}

.discipline {
    margin-left: 5%;
}

.name {
    text-decoration: none;
}

.homeh1 {
    font-family: 'HK Grotesk Black', sans-serif;
    
    font-style: normal;
    color: #d4c1e6;
    font-size: 60px;
    margin-bottom: 0;
    padding: none;
    margin-top: none;
}

.homeh2 {
    font-family: 'HK Grotesk Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.homeh3 {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#me {
    width: 200px;
    margin-left: 0;
    margin-right: 0;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.homepage {
  
    background-color: #d4c1e6;
    padding: 4.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    width: 80vw;
}

#workworkwork {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top:4%;
    padding-bottom: 1%;
    
}

#work {
    color: #FCCD17;
 
    margin-bottom: 0;
}
