@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Bold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Regular.woff) format('woff');
}

p {
    font-family: 'HK Grotesk', sans-serif;
    font-size: 18px;
    color: #3b3b3b;
}

.projecth1 {
    font-family: 'HK Grotesk Bold', sans-serif;
    font-style: normal;
    color: #d4c1e6;
    font-size: 30px;
    margin-bottom: 0;
    padding: none;
    margin-top: 10vh;
}

#hints-main-title {
    color: #d4c1e6;
}

.projecth3 {
    font-family: 'HK Grotesk SemiBold', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.hero-image-w {
    width: 80vw;
    height: 82vh;
}

.main-project-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.final-images {
    width: 29vw;
    height: 35vh;
    margin-bottom: 3%;
}

.finalImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.photoSeriesImgs {
    width: 13vw;
    height: 7vh;
}

.photoSeries {
    max-width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0;

}

.infographic {
    max-width: 100vw;
    height: 200vh;
}

.content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.process {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.processVid {
    max-width: 100%;
}

.processVids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.center-img {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.hint-flows {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hint-personas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    margin-top: 0;
    margin-bottom: 2%;
}

.hint-persona-img {
    max-height: 25vw;
    justify-self: start;
}

#hints-persona-1 {
    background-color: blue;
}

#hints-persona-2 {
    background-color: blue;
}

#hints-persona-5 {
    background-color: blue;
}

.hint-dp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 0;
    align-content: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.hint-sketches {
    max-height: 45vh;
}

.hint-sketches2 {
    max-height: 60vh;
    justify-self: starts;
}

#displace1 {
    background-image: url('../../Assets/dis1.jpg');
    background-size: contain;
    margin-bottom: 3vh;
    background-repeat: no-repeat;
}
#displace2 {
    background-image: url('../../Assets/dis2.jpg');
    background-size: contain;
    margin-bottom: 3vh;
    background-repeat: no-repeat;
}
#displace3 {
    background-image: url('../../Assets/dis3.jpg');
    background-size: contain;
    margin-bottom: 3vh;
    background-repeat: no-repeat;
}
#displace4 {
    background-image: url('../../Assets/dis4.jpg');
    background-size: contain;
    margin-bottom: 3vh;
    background-repeat: no-repeat;
}
#displace5 {
    background-image: url('../../Assets/dis5.jpg');
    background-size: contain;
    margin-bottom: 3vh;
    background-repeat: no-repeat;
}

#displace6 {
    background-image: url('../../Assets/dis6.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.disGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    align-self: center;
}

#df {
    background-image: url('../../Assets/dreamy-finder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
}

.df-hero-image {
    height: 60vh;
}

.df-hero {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.projectLink {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
  }

.projectLink:visited {
    color:#000099;
  }

.projectLink:hover {
    color:#000099;
    -webkit-transition: font-size 0.2s ease-out;
    font-size: 16px;
  }