@font-face {
    font-family: 'HK Grotesk SemiBold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Bold.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Regular.woff) format('woff');
}

@font-face {
    font-family: 'HK Grotesk Bold';
    src: local('HK Grotesk'), url(../../Fonts/HKGrotesk-Black.woff) format('woff');
}

.well-page {
    background-color: #f2f2f2c2;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5%;
    margin-top: calc(65px + 8vh);
    filter: drop-shadow(0 2mm 2mm #3b3b3b3f);
}

/* .ideation-content {
    display: flex;
    justify-content: space-around;
} */

.ideation-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f2f2f2;
    padding: 1%;
    row-gap: 15px;
    align-items: top;
    justify-content: center;
    justify-items: center;
    align-content: center;
    max-width: 100%;
}

.paper-proto {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

/* HEADINGS */

#well-heading {
    color: #1a5a87;
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;
}

#well-subtitle {
    color: #7994aa;
    font-family: 'HK Grotesk SemiBold', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
    max-width: 90%;
    font-size: 18px;
}

.well-h2 {
    font-family: 'HK Grotesk SemiBold', sans-serif;
    font-size: 28px;
    color: #1a5a87;
    margin-top: 3%;
    margin-bottom: 1%;
    max-width: 50%;
    text-align: left;
}

.well-h3 {
    font-family: 'HK Grotesk SemiBold', sans-serif;
    font-size: 36px;
    color: #1a5a87;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.well-written-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* TEXT */
#ideation-p {
    max-width: 100%;
}

/* IMAGES */
#design-thinking {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.ideas {
    max-width: 90%;
}

#proto4 {
    width: 65%;
}

#para-proto {
    max-width: 30%;
    margin-top: 0;
}