@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,0..100,0..1;1,9..144,100..900,0..100,0..1&display=swap'); */

@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-weight: 100 500 600 700 900;
  src: url(./Fonts/Fraunces--latin_basic.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Fraunces';
  font-display: swap;
  font-weight: 100 700 900;
  src: url(./Fonts/Fraunces--latin_ext.woff2) format('woff2');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

.App {
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 5%;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.page {
  max-width: min(80vw, 1500px);
  background-color: #F2EFEB;
}

.dropdownContent {
  max-height: 0;
  overflow: hidden;

  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;

  margin-bottom: 5%;
}

.dropdownContainer:hover > .dropdownContent {
  max-height: 500px;
}

.swiper-container {
  background-color: #FFFFFF;
}

.popup-content {
  background:#FFFFFF !important;
}

.visibleContainer {
  max-height:300px;
}

.name {
  margin-bottom: 0;
}

.name:visited {
  color:black;
}

.name:hover {
  -webkit-transition: font-size 0.2s ease-out;
  font-size: 20px;
  color:#000099;
}

.designType {
  margin-bottom: 5%;
}

h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 680;
  font-style: normal;
  font-variation-settings:
    "SOFT" 100,
    "WONK" 0.5;
  color: #5C5347;
  font-size: 96px;
  margin-top: 0;
}

.h1-small {
  font-size: 36;
}

h2 {
  margin-block-start: 0;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 680;
  font-style: normal;
  font-variation-settings:
    "SOFT" 100,
    "WONK" 0.5;
  color: #5C5347;
  font-size: 64px;
}

body {
  background-color: #F2E5D9;
}

ul {
	position: relative;
	list-style-type: circle;
	margin-left: 0;
	padding-left: 1.2em;
}

.project-heading {
  font-family: 'HK Grotesk Bold', sans-serif;
  font-size: 36px;
  margin-top: 2.5%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 500px) { 
  .project-heading {
    font-size: 6vw;
  }
}

a:hover {
  transform: scale(1.1);
  transition: all 0.33s ease-in-out;
}