.body {
  height: 100%;
  overflow: hidden;
}

.App {
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 5%;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.dropdownContent {
  max-height: 0;
  overflow: hidden;
  
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;

  margin-bottom: 5%;
}

.dropdownContainer:hover > .dropdownContent {
  max-height: 500px;
}

.visibleContainer {
  max-height:300px;
}

.name {
  margin-bottom: 0;
}

.name:visited {
  color:black;
}

.name:hover {
  -webkit-transition: font-size 0.2s ease-out;
  font-size: 20px;
  color:#000099;
}

.navItem {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  margin-top: 2.5%;
}

.designType {
  margin-bottom: 5%;
}

h2 {
  margin-block-start: 0;

}

body {
  background-color: #fafdff;
}

ul {
	position: relative;
	list-style-type: circle;
	margin-left: 0;
	padding-left: 1.2em;
}

.project-heading {
  font-family: 'HK Grotesk Bold', sans-serif;
  font-size: 36px;
  margin-top: 2.5%;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}